<md-card flex>
   <md-card-title ng-if="$ctrl.config.header">
      <md-card-title-text>
         <span class="md-headline">
            <md-icon>
               location_on
            </md-icon>
            Ubicacion
         </span>
      </md-card-title-text>
   </md-card-title>
   <md-card-content layout="row">
      <!--<p flex="30" ng-repeat="marker in $ctrl.markers">{{marker.coords}}</p>-->
      <md-content flex>
         <ui-gmap-google-map center='$ctrl.mapOptions.center' zoom='$ctrl.mapOptions.zoom' events='$ctrl.mapOptions.events'>
            <!--<ui-gmap-marker ng-repeat="marker in $ctrl.markers" coords="marker.coords" idkey="marker.id" click='$ctrl.openWindow(marker)'>-->
            
            <ui-gmap-window coords="$ctrl.coords" show="$ctrl.showWindow" 
                               options="$ctrl.windowOptions">
<!--                <div style="background-color: #ff2542;">
                   <span class="white-text pf-font-default font-24-pt">
                      {{marker[$ctrl.config.marker.id]}}
                   </span>
                </div>-->
            </ui-gmap-window>
            
            <ui-gmap-marker ng-repeat="marker in $ctrl.markers" coords="marker.coords"
                            idkey="marker[$ctrl.config.marker.id]" 
                            click='$ctrl.openWindow(marker)'>
<!--               <ui-gmap-window coords="marker.coords" show="marker.showWindow" 
                               templateUrl="app/parts/locationInfoWindow.html"
                               templateParameter="marker">-->
 <ui-gmap-window coords="marker.coords" show="marker.showWindow" 
                               templateUrl="app/parts/location-info-window.tpl"
                               templateParameter="marker">
            </ui-gmap-window>
               
            </ui-gmap-marker>
         </ui-gmap-google-map>
      </md-content>
   </md-card-content>
</md-card>
