
<md-content layout-gt-sm="row" layout-padding layout-align="center center">
    <span flex></span>
    <md-whiteframe class="md-whiteframe-8dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout="column" layout-align="center center">

        <md-input-container>
            <label>Email</label>
            <input ng-model="user.title">
        </md-input-container>
        <md-input-container>
            <label>Password</label>
            <input ng-model="user.email" type="password">
        </md-input-container>
    </md-whiteframe>
    
    <span flex></span>

</md-content>