<!--<md-content layout="column" layout-align="center center">-->
<md-content layout="column">
   <md-toolbar>

   </md-toolbar>
   <md-content  layout="row">
      <div flex></div>
      <md-whiteframe class="md-whiteframe-8dp" flex="35" layout="column" layout-align="center center">
         <h3>
            <span>¿Que tipo de usuario eres?</span>
         </h3>
         <!--<div layout="row" flex layout-align="center center">-->
         <div style='width: 100%'>
            <md-grid-list md-cols="2" md-gutter="1em" md-row-height="150px">
               <md-grid-tile  ng-repeat="tipo in tipos" style="background-image: url('app/img/img_SN.gif'); background-size: cover" ng-click="elegirUsuario($index)">
                  <md-grid-tile-footer>
                     <h3>{{tipo.rol}}</h3>
                  </md-grid-tile-footer>
               </md-grid-tile>

            </md-grid-list>
         </div>
      </md-whiteframe>
      <div flex></div>
   </md-content>
</md-content>