<md-content layout="column">
   <md-toolbar>

   </md-toolbar>
   <md-content  layout="row">
      <div flex></div>
      <md-whiteframe class="md-whiteframe-8dp" flex="35" layout="column" layout-align="center center">
         <h3>
            <span>Registrarse</span>
         </h3>
         <h4 class="text-center text-light"> {{tipoUsuario.rol}}</h4>
         <md-input-container>
            <label>Email</label>
            <input type="email" ng-model="user.email">
         </md-input-container>
         <md-input-container>
            <label>Password</label>
            <input ng-model="user.plainPassword.first" type="password">
         </md-input-container>
         <md-input-container>
            <label>Repita Password</label>
            <input ng-model="user.plainPassword.second" type="password">
         </md-input-container>
         <md-button class="md-raised md-primary" ng-click="register()">
            Registrarse
         </md-button>
         <md-button type="button" class="md-raised md-primary" ng-click="facebookSingin()">
            <i class="fa fa-facebook"></i> 
            Registrarse con Facebook
         </md-button>
         <div layout='row'>
            <a class="pull-right"  ui-sref="app.access.login" title="Sign Up" ng-hide="sending">Iniciar Sesión</a>

            <a class="pull-left margin-top-10" ui-sref="app.access.forgotPwd" title="Password Lost and Found">¿Olvido la contraseña?</a>
         </div>
      </md-whiteframe>
      <div flex></div>
   </md-content>
</md-content>