<md-button class="md-icon-button" aria-label="Informacion"  ng-click="openTour()" style="position: absolute; right: 5%">
    <i class="fa fa-exclamation-circle"></i>
</md-button>
<div layout="row" flex layout-padding style="margin-top: 0px">

    <div flex>
        <h3 style="text-align: center">Mi Menu</h3>
        <div layout="row">
            <div flex="40">
                <md-input-container class="md-block" style="margin-bottom: 0px; margin-top: 0px">
                    <label>Buscar <i class="fa fa-search"></i></label>
                    <input type="search" name="Buscar"  class="input-search" ng-model="$ctrl.buscar">
                </md-input-container>
            </div>
            <div flex="10">
                <md-input-container class="md-block" style="margin-bottom: 0px; margin-top: 0px">
                    <label>Filtro</label>
                    <md-select ng-model="$ctrl.filtro" aria-label="filtro" ng-change="$ctrl.filtrando()">
                        <md-option selected value="0">Todos</md-option>
                        <md-option value="1">Habilitados</md-option>
                        <md-option value="2">Inhabilitados</md-option>
                    </md-select>
                </md-input-container>
            </div>
            <div flex="10">
                <md-button class="md-fab md-mini md-accent" aria-label="limbiar">
                    <md-tooltip md-visible="limpiar">Limpiar Busqueda</md-tooltip>
                    <i class="fa fa-trash white-text"></i>
                </md-button>
            </div>
            <div flex="30">
                
            </div>
            <div flex="10">
                <md-button class="md-raised md-primary white-text capitalize" aria-label="agregar">
                    Agregar
                </md-button>
            </div>
        </div>
        <md-tabs md-dynamic-height md-border-bottom md-autoselect md-stretch-tabs="always">
            <md-tab label="Plato">
                <md-content  flex layout="column" layout-padding style="overflow: overlay; max-height: 500px">
                    <div flex>
                        <md-list>
                            <md-list-item ng-repeat="topping in $ctrl.toppings" ng-show="$ctrl.todos===true || (topping.wanted===$ctrl.algunos)">
                                <p> {{ topping.name}} - {{topping.price}}Bs. 
                                    <label class="label-primary" ng-repeat="i in [0, 1, 2]">Ingredientes</label>
                                    <label class="label-accent" ng-repeat="i in [0, 1]">Adicionales</label>
                                    <label class="label-default">...</label>
                                </p>
                                <md-chips>
                                    <md-chip 
                                        ng-class="{'chip-red':topping.porcentaje < 50, 'chip-purple':topping.porcentaje >= 50 && topping.porcentaje < 75, 'chip-green':topping.porcentaje >= 75 }">
                                        {{ topping.porcentaje}}</md-chip>
                                </md-chips>
<!--                                <md-button class="md-icon-button" aria-label="Adicionales" ng-click="$ctrl.goTo($ctrl.config.selectedIndex, topping, 2)">
                                    <md-tooltip md-visible="Ingredientes">Agregar Adicionales</md-tooltip>
                                    <i class="fa fa-plus"></i>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Ingredientes" ng-click="$ctrl.goTo($ctrl.config.selectedIndex, topping, 1)">
                                    <md-tooltip md-visible="Ingredientes">Agregar Ingredientes</md-tooltip>
                                    <i class="fa fa-pie-chart"></i>
                                </md-button>-->
                                <md-button class="md-icon-button" aria-label="Editar" ng-click="$ctrl.dialogoEdit()">
                                    <md-tooltip md-visible="editar">Editar</md-tooltip>
                                    <i class="fa fa-pencil"></i>
                                </md-button>
                                <md-switch ng-model="topping.wanted" aria-label="Switch 1" ng-change="$ctrl.habilitar(topping)">
                                </md-switch>
                                <md-checkbox class="md-secondary" ng-model="topping.wanted" ng-hide="true">
                                </md-checkbox>
                            </md-list-item>
                        </md-list>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Combos">
                <md-content  flex layout="column" layout-padding style="overflow: overlay; max-height: 500px">
                    <md-list>
                        <md-list-item ng-repeat="topping in $ctrl.toppings" ng-show="$ctrl.todos===true || (topping.wanted===$ctrl.algunos)">
                            <p> {{ topping.name}}  - {{topping.price}}Bs.
                                <label class="label-primary" ng-repeat="i in [0, 1, 2]">Platos</label>
                                <label class="label-info" ng-repeat="i in [0, 1]">Bebidas</label>
                                <label class="label-default">...</label>
                            </p>
                            <md-chips>
                                <md-chip 
                                    ng-class="{'chip-red':topping.porcentaje < 50, 'chip-purple':topping.porcentaje >= 50 && topping.porcentaje < 75, 'chip-green':topping.porcentaje >= 75 }">
                                    {{ topping.porcentaje}}</md-chip>
                            </md-chips>
                            <md-button class="md-icon-button" aria-label="Use Android" ng-click="$ctrl.dialogoEdit()">
                                <md-tooltip md-visible="editar">Editar</md-tooltip>
                                <i class="fa fa-pencil"></i>
                            </md-button>
                            <md-switch ng-model="topping.wanted" aria-label="Switch 1" ng-change="$ctrl.habilitar(topping)">
                            </md-switch>
                            <md-checkbox class="md-secondary" ng-model="topping.wanted" ng-hide="true">
                            </md-checkbox>
                        </md-list-item>
                    </md-list>
                </md-content>  
            </md-tab>
        </md-tabs>
    </div>
</div>