<md-content flex layout="row">
    <!--<md-content flex="40" style="max-height: 600px;">-->
    <md-content flex="{{$ctrl.flexOrderList}}" style="max-height: 600px;">
        <!--<md-list ng-if="$ctrl.showList">-->
        <md-list flex>
            <md-list-item  ng-repeat="result in $ctrl.results">
                <md-card>
                    <!--<img src="{{result.image}}" alt="comida" class="md-card-image" style="max-width: 220px;"/>-->
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{result.name}}</span>
                            <stars config="$ctrl.configStars2"></stars>
                            <!--<span class="md-subhead">{{result.price}}</span>-->
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout-padding layout="row">
                        <img src="{{result.image}}" alt="comida" class="md-media-xl"/>
                        <div layout="column">
                            <span>{{result.description}}</span>
                            <span>{{result.price}}</span>
                            <div layout="row">

                                <md-chips ng-model="result.menus" name="" readonly="true">
                                    <md-chip-template>
                                        <strong>{{$chip.menuCategory.name}}</strong>
                                    </md-chip-template>
                                </md-chips>

                                <md-content flex style="height: 200px" ng-if="$ctrl.showIngredients">
                                    <md-content flex style="height: 100px">
                                        <md-list flex>
                                            <md-subheader class="md-no-sticky">Ingredientes</md-subheader>
                                            <md-list-item ng-repeat="ingredient in $ctrl.ingredients">
                                                <md-checkbox ng-model="ingredient.available" aria-label="agregar {{ingredient.name}}">

                                                </md-checkbox>
                                                {{ingredient.name}}
                                            </md-list-item>
                                        </md-list>
                                    </md-content>
                                    <md-content flex style="height: 100px">
                                        <md-list flex>
                                            <md-subheader class="md-no-sticky">Extras</md-subheader>
                                            <md-list-item ng-repeat="extra in $ctrl.extras">
                                                <md-checkbox ng-model="extra.include" aria-label="Extra {{extra.name}}">
                                                </md-checkbox>
                                                {{extra.name}}
                                            </md-list-item>
                                        </md-list>
                                    </md-content>
                                </md-content>

                                <md-card-actions layout="column" layout-align="start center">
                                    <md-button class="md-icon-button" ng-click="$ctrl.toogleIngredients()">
                                        <md-icon>more</md-icon>
                                    </md-button >
                                </md-card-actions>
                            </div>

                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" ng-click="$ctrl.excludeFromOrder($index)">
                            <md-icon>remove_shopping_cart</md-icon>
                        </md-button >
                        <md-button class="md-icon-button" ng-click="$ctrl.viewRestaurant(result.restaurant)">
                            <md-icon>restaurant</md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </md-list-item>
        </md-list>
    </md-content>
    <md-content flex layout="column" layout-align="start center" layout-padding>
        <div>
            Total a pagar
        </div>
        <div layout="column" layout-padding>
            <div flex layout="row" layout-align="center center">
                <div flex="50">
                    Platos
                </div>
                <div flex="50">
                    8000 bs
                </div>
            </div>
            <div flex layout="row" layout-align="center center">
                <div flex="50">
                    Bebidas
                </div>
                <div flex="50">
                    8000 bs
                </div>
            </div>
            <div flex layout="row" layout-align="center center">
                <div flex="50">
                    Extras
                </div>
                <div flex="50">
                    8000 bs
                </div>
            </div>
            <div flex layout="row" layout-align="center center">
                <div flex="50">
                    Cargo por servicio
                </div>
                <div flex="50">
                    8000 bs
                </div>
            </div>
            <md-divider></md-divider>
            <div flex layout="row" layout-align="center center">
                <div flex="50" style="font-weight: bold;">
                    Total
                </div>
                <div flex="50">
                    8000 bs
                </div>
            </div>
        </div>
    </md-content>
    <md-content flex ng-hide="$ctrl.showIngredients">
        <md-card>
            <!--            <img src="{{$ctrl.restaurant.image}}" alt="comida" class="md-card-image" style="max-width: 350px;"/>-->
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-icon-button" ng-click="$ctrl.closeRestaurant()">
                    <md-icon>cancel</md-icon>
                </md-button>

            </md-card-actions>            
            <img src="{{$ctrl.restaurant.image}}" alt="comida" class="md-card-image"/>
            <md-card-title>
                <md-card-title-text layout-padding>
                    <span class="md-headline">{{$ctrl.restaurant.name}}</span>
                    <!--<span class="md-subhead">{{result.price}}</span>-->
                </md-card-title-text>
            </md-card-title>
            <md-card-content layout-padding layout="column">
                <span style="font-size: 16pt;">{{$ctrl.restaurant.about}}</span>
                <span style="font-size: 12pt;">{{$ctrl.restaurant.address}}</span>
                <span style="font-size: 12pt;">{{$ctrl.restaurant.cityName}} - {{$ctrl.restaurant.stateName}}</span>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <stars config="$ctrl.configStars"></stars>
            </md-card-actions>
        </md-card>
    </md-content>
</md-content>
