<md-content layout="row" flex>
   <div layout="column" flex="30">
      <!--foto-->
       <md-card>
        <img ng-src="app/img/img_SN.gif" class="md-card-image" alt="Washed Out">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">In-card mixed actions</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
          <md-card-icon-actions>
            <md-button class="md-icon-button" aria-label="Favorite">
              <md-icon>twitter</md-icon>
            </md-button>
            <md-button class="md-icon-button" aria-label="Share">
              <md-icon>facebook</md-icon>
            </md-button>
          </md-card-icon-actions>
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
      </md-card>
   </div>
   <div layout="column" flex>
      <!--datos del estudio-->
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Informacion 1</span>
            <span class="md-subhead">Informacion 2</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Action 1</md-button>
          <md-button>Action 2</md-button>
        </md-card-actions>
      </md-card>
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Informacion 2</span>
            <span class="md-subhead">Otra info</span>
          </md-card-title-text>
        </md-card-title>
         <md-card-content>
            <p>
               Mucha informacion muuuuuuu larga, super fuerte todo el betAMucha informacion muuuuuuu larga, super fuerte todo el betAMucha informacion muuuuuuu larga, super fuerte todo el betAMucha informacion muuuuuuu larga, super fuerte todo el betA
            </p>
            <p>
               Mucha informacion muuuuuuu larga,
               super fuerte todo el betA
            </p>
         </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
           <md-button class="md-icon-button">
              <md-icon>mode_edit</md-icon>
           </md-button>
        </md-card-actions>
      </md-card>
   <!--</div>-->
<!--   <div layout="row">
   </div>-->
   </div>
</md-content>
