<md-toolbar class="md-hue-2">
   <div class="md-toolbar-tools">
      <md-button class="md-icon-button md-accent" aria-label="Settings" ng-click="toggleSideMenu()">
        <md-icon>menu</md-icon>
      </md-button>
      <h2>
         <span>Pase.Fit</span>
      </h2>
      <span flex></span>
      <md-menu-bar>
         <md-menu>
            <button class="md-raised md-accent" ng-click="$mdOpenMenu()">    
               <!--<img ng-src="app/img/img_SN.gif" class="md-avatar" style="height: 40px;" alt="usuario"/>-->
               <md-icon>account_circle
               </md-icon>
              Usuario
            </button>
            <md-menu-content>
               <md-menu-item>                  
                  <md-button ng-click="profile()">
                     <md-icon>account_circle</md-icon>
                     Perfil
                  </md-button>
               </md-menu-item>
               <md-menu-item>
                  <md-button ng-click="logout()">
                     <md-icon>power_settings_new</md-icon>
                    Cerrar sesión
                  </md-button>
               </md-menu-item>
            </md-menu-content>
         </md-menu>
      </md-menu-bar>
   </div>
</md-toolbar>