<!--<header class="header">
  <h1>todos</h1>
  <todo-text-input
    new-todo="true"
    on-save="$ctrl.handleSave(text)"
    placeholder="What needs to be done?"
  ></todo-text-input>
</header>-->
<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">
        <h2>
          <span>Pase.Fit</span>
        </h2>
        <span flex></span>
<!--        <md-button class="md-icon-button" aria-label="Favorite">
          <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
        </md-button>-->
        <md-button class="md-raised md-accent" aria-label="More" ui-sref="app.login">
          <!--<md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>-->
          login
        </md-button>
      </div>
    </md-toolbar>