<!--md-is-locked-open="$mdMedia('gt-md')"--> 
<md-sidenav
        class="md-sidenav-right"
        md-component-id="profile-menu"
        md-disable-backdrop
        
        md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Menu de perfil</h1>
      </md-toolbar>
      <md-content layout-padding>
         <md-list class="md-dense">
      <md-list-item ng-repeat="item in $ctrl.profileMenu">
        <div class="md-list-item-text">
          <h5>{{item.nombre}}</h5>
        </div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
    </md-list>
      </md-content>
</md-sidenav>
