<md-dialog aria-label="Mango (Fruit)" style="min-width: 80%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Agregar</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab label="Info. Basica">
                    <md-content class="md-padding" style="max-height:500px">
                        <!--<h4 class="md-display-2">Informacion Basica</h4>-->
                        <div layout="row">
                            <div flex="55">
                                <md-input-container class="md-block">
                                    <label>Descripcion</label>
                                    <textarea md-maxlength="200" required md-no-asterisk name="description" ng-model="$ctrl.hola" rows="3"></textarea>
                                    <div ng-messages="projectForm.description.$error">
                                        <div ng-message="required">Es necesario que Ingrese la Descripción.</div>
                                        <div ng-message="md-maxlength">El de la Descripcion puede tener maximo 30 caracteres.</div>
                                    </div>
                                </md-input-container>
                            </div>
                            <div flex="10"></div>
                            <div flex="35">
                                <md-input-container class="md-block">
                                    <label>Imagen</label>
                                    <input type="file">
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Precio</label>
                                    <input type="number">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row">
                            <div flex="30">
                                <md-input-container>
                                    <label>Vegetables</label>
                                    <md-select ng-model="selectedVegetables"
                                               md-on-close="clearSearchTerm()"
                                               data-md-container-class="selectdemoSelectHeader"
                                               multiple>
                                        <md-select-header class="demo-select-header">
                                            <input ng-model="searchTerm"
                                                   type="search"
                                                   placeholder="Search for a vegetable.."
                                                   class="demo-header-searchbox md-text">
                                        </md-select-header>
                                        <md-optgroup label="vegetables">
                                            <md-option ng-value="vegetable" ng-repeat="vegetable in vegetables|
              filter:searchTerm">{{vegetable}}</md-option>
                                        </md-optgroup>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Ingredientes">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Ingredientes</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="Adicionales">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Adicionales</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <!--      <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                    More on Wikipedia
                  </md-button>-->
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Cancelar
            </md-button>
            <md-button ng-click="answer('useful')">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>