.ara-footer{
    margin-bottom: 0px;
}

.angular-google-map-container { height: 400px; }

/***  LOGIN          ****/

.login-1{
    background-image: url("../app/img/login-fondo-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px !important;
}
.chip-red{
    background: rgba(185, 3, 3, 0.28)
}
.chip-green{
    background: rgba(0, 255, 57, 0.28)
}
.chip-purple{
    background: rgba(168, 91, 199, 0.31)
}
.white-text{
    color: #fff !important;
}
.capitalize{
    text-transform: capitalize;
}
.label{
    color:#000;
    /*margin-left: 5px;*/
    font-size: 12px;
    padding: 3px 8px;
    border: 1px solid rgba(130, 123, 123, 0.62);
    border-radius: 10px;
}
.label-primary{
    /*float: left;*/
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    background: rgba(255, 152, 0, 0.75);
    border: 1px solid rgba(204, 72, 13, 0.89);
}
.label-accent{
    /*float: left;*/
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    background: rgba(93, 169, 6, 0.77);
    border: 1px solid rgba(3, 125, 62, 0.89);
}
.label-info{
    /*float: left;*/
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    background: rgba(53, 192, 236, 0.75);
    border: 1px solid rgba(18, 105, 165, 0.89);
}
.label-default{
    /*float: left;*/
    white-space: nowrap;
    margin-right: 5px;
    margin-bottom: 5px;
    color: white;
    background: rgba(56, 56, 56, 0.38);
}
.input-search{
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    background: rgba(0, 0, 0, 0.22) !important;
    padding: 2px 5px !important;
    border-radius: 10px !important;   
}
.alerta{
    color: white;
    background: rgba(0, 0, 0, 0.2);
    max-width: 250px;
    padding: 10px;
    text-align: center;
    position: fixed;
    right: 1%;
    z-index: 2;
}
.md-tab.md-active {
    font-weight: 600;
    cursor: pointer;
    background: rgba(178, 255, 89, 0.48);
}
md-tabs .md-tab {
    background: rgba(138, 239, 22, 0.17);
    color: rgba(5, 97, 13, 0.81);
    border: 1px solid rgba(85, 158, 27, 0.13);
}
md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder {
    padding-left: 20px;
}
.btn-margin {
    margin: 0px;
}
md-bottom-sheet {
    position: fixed;
}