.ara-footer{
    margin-bottom: 0px;
}

.angular-google-map-container { height: 400px; }

/***  LOGIN          ****/

.login-1{
    background-image: url("../app/img/login-fondo-3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px !important;
}
.chip-red{
    background: rgba(185, 3, 3, 0.28)
}
.chip-green{
    background: rgba(0, 255, 57, 0.28)
}
.chip-purple{
    background: rgba(168, 91, 199, 0.31)
}
.white-text{
    color: #fff !important;
}
.capitalize{
    text-transform: capitalize;
}
.label{
    color:#000;
    margin-left: 5px;
    font-size: 12px;
    padding: 3px 8px;
    border: 1px solid rgba(130, 123, 123, 0.62);
    border-radius: 10px;
}
.label-primary{
    color: white;
    background: rgba(255, 152, 0, 0.75);
    border: 1px solid rgba(204, 72, 13, 0.89);
}
.label-accent{
    color: white;
    background: rgba(151, 236, 53, 0.75);
    border: 1px solid rgba(3, 125, 62, 0.89);
}
.label-info{
    color: white;
    background: rgba(53, 192, 236, 0.75);
    border: 1px solid rgba(18, 105, 165, 0.89);
}
.label-default{
    color: white;
    background: rgba(56, 56, 56, 0.38);
}
.input-search{
    background: rgba(0, 0, 0, 0.22) !important;
    padding: 2px 5px !important;
    border-radius: 10px !important;   
}